@import './base.css';

a {
  padding: 5px;
  font-size: 15px;
  text-decoration: none !important;
  color: rgb(247, 247, 247) !important;
}

.sidebar {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  padding-top: 12px;
  background-color: rgb(43, 43, 53);
}

.sidebar-header {
  font-weight: bolder;
  font-size: 30px;
}

.sidebar-header h2 {
  color: rgb(247, 247, 247) !important;
}

.text-grey {
  color: gray;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  padding-top: 25px;
}

.search-bar {
  width: 700px;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 30px;
  background-color: rgb(43, 43, 53);
  color: white;
  cursor: pointer;
}
.player-card {
  width: 700px;
  height: 70px !important;
  position: fixed;
  bottom: 10px;
  background-color: rgb(43, 43, 53);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-card .song-info {
  display: flex;
  gap: 10px;
}

.bg-default {
  background-color: rgb(43, 43, 53) !important;
}

.song-title {
  font-size: 18px;
}

.song-artist {
  font-size: 15px;
  color: grey;
}

.music-card {
  width: 200px;
  height: 250px;
  background-color: rgb(43, 43, 53);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.music-card .cover_image {
  width: 170px;
  height: 250px;
  background-color: rgb(43, 43, 53);
  color: white;
}

@media (hover: hover) {
  a:hover {
    background-color: rgb(85, 85, 237);
    border-radius: 20px;
  }
}
