@import './base.css';

a {
  padding: 5px;
  font-size: 15px;
  text-decoration: none !important;
  color: rgb(247, 247, 247) !important;
}

.sidebar {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  padding-top: 12px;
  background-color: rgb(43, 43, 53);
}

.sidebar-header {
  font-weight: bolder;
  font-size: 30px;
}

.sidebar-header h2 {
  color: rgb(247, 247, 247) !important;
}

.text-grey {
  color: gray;
}

.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  padding-top: 25px;
  position: relative;
  max-height: 750px;
  overflow-y: scroll;
}

.main-section::after {
  content: '';
  margin-bottom: 50px !important;
}

.search-bar {
  width: 70%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 30px;
  background-color: rgb(43, 43, 53);
  color: white;
  cursor: pointer;
  position: fixed;
  top: 30px;
}
.main-section .player-card {
  width: 80%;
  height: 70px !important;
  position: fixed;
  bottom: 10px;
  background-color: rgb(43, 43, 53);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-card::before {
  content: '';
  margin-top: 30px;
}

.main-section .player-card .song-info {
  display: flex;
  gap: 10px;
}

.song-info img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.bg-default {
  background-color: rgb(43, 43, 53) !important;
}

.song-title {
  font-size: 18px;
}

.song-artist {
  font-size: 15px;
  color: grey;
}

.music-card {
  width: 200px;
  height: 250px;
  background-color: rgb(43, 43, 53);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.music-card .cover-image {
  width: 170px;
  height: 250px;
  background-color: rgb(173, 173, 212);
  color: white;
}

.notifications {
  cursor: pointer;
}

.profile {
  cursor: pointer;
}

.auth {
  width: 100vw !important;
}
.auth .auth-form {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 50%;
}

.auth .auth-image {
  height: 100vh;
  width: 50%;
}

.auth .auth-form .account-type {
  width: 200px;
  height: 250px !important;
  background-color: rgb(43, 43, 53) !important;
  color: whitesmoke !important;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.play-songs {
  cursor: pointer;
  font-size: 30px;
}

.single-header {
  padding: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(20, 20, 121, 1) 0%,
    rgb(45, 150, 203) 100%
  );
  border-radius: 5px;
}

.single-header img {
  width: 180px !important;
  height: 200px !important;
}

.home-image {
  margin-top: 15px;
  width: 100%;
  height: 200px !important;
  border-radius: 10px;
  object-fit: fill;
}

.account-update img {
  width: 200px !important;
  height: 200px !important;
  background-color: gray;
  border-radius: 50%;
}

.logout {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.sidebar-active {
  background-color: rgb(31, 31, 153) !important;
  border-radius: 10px;
  padding: 10px;
}

@media (hover: hover) {
  .sidebar a:hover {
    background-color: rgb(31, 31, 153);
    border-radius: 10px;
    padding: 10px;
  }

  .account-type:hover {
    border: 2px solid blue;
  }
}

.account-type:hover {
  border: 3px solid rgb(147, 147, 187);
}

.is_active {
  border: 5px solid rgb(54, 54, 215) !important;
}

@media only screen and (max-width: 600px) {
  .auth {
    display: flex !important;
    flex-direction: column !important;
  }
  .auth-form {
    width: 100% !important;
  }
  .auth-image {
    display: none;
  }
}
